#jumbotronIndex {
	background: url("moulin.png");

}


#title-container {
	height: 500px;
}

#title {
	margin-left: 68px;
	/*position: center;*/
	padding-top: 0px;
	font-size: 210px;
	color: #FF62EB;
	font-weight: bold;
	font-family: 'Alegreya', serif;
}

#tagline {
	color: #FDDCFB;
	margin-left: 180px;
	font-size: 30px;
	font-family: 'Alegreya', serif;
}


#enter-btn {
	margin-left: 510px;
	font-size: 55px;
	font-style: italic;
	font-family: 'Alegreya', serif;
}

#img-home {

	height: 450px;
	width: 575px;
	margin-left: 280px;
	border-style: solid;
	border-width: 20px;
	border-color: #DBD2DB;
}

#carouselContainer {
	margin-top: 60px;
}

/*shop CSS*/

#main-content {
	/*background-color: #DDCFDC;*/
	height: 960px;
	width: 160px;
	margin-top: 100px;
	margin-left: 100px;

}

#shopDiv2 {
	border: solid;
	border-color: black;
	border-width: 10px;
	height: 850px;
	width: 1500px;
	/*float: right;
	margin-bottom: 500px;*/
}

#shop-img {
	height: 650px;
	width: 550px;
	margin-left: 100px;
	margin-top: 100px;
}

/*/*#shop-card {
	/*float: right;*/
	/*margin-top: 100px;
	margin-left: 400px;*/
	
/*}*//*/

.card-img-top{
	width: 650px;

}

/*About CSS*/

#about-img {
	margin-left: 500px;
	height: 800px;
	width: 650px;
}

#about-title {
	margin-left: 40px;
	padding-top: 0px;
	font-size: 200px;
	font-weight: bold;
	font-family: 'Alegreya', serif;
}

#wigs{
	color: #FF62EB;
}

#about-tagline {
	margin-left: 150px;
	font-weight: bold;
	font-size: 25px;
}

#about-search {
	background-color: #FDDCFB;
	color: black;
	border-style: none;

}

#about-jumbotron {
	background: url("aboutimg.jpeg");
}


